<footer class="main-footer">
  <div class="footer-content">
    <div class="footer-col logo-direccion">
      <div class="logo-placeholder"></div>
      <div class="direccion">
        <p>DIRECCIÓN</p>
        <p>&#64;Ibagué, Colombia, 730001</p>
      </div>
    </div>

    <div class="footer-col menu">
      <h4>MENU</h4>
      <ul>
        <li><a routerLink="/inicio">INICIO</a></li>
        <li><a routerLink="/proyectos">PROYECTOS</a></li>
        <li><a routerLink="/servicios">SERVICIOS</a></li>
        <li><a routerLink="/nosotros">NOSOTROS</a></li>
      </ul>
    </div>

    <div class="footer-col company">
      <h4>COMPAÑÍA</h4>
      <ul>
        <li><a routerLink="/nosotros">Información</a></li>
      </ul>
    </div>

    <div class="footer-col redes-sociales">
      <h4>REDES SOCIALES</h4>
      <ul>
        <li>
          <a href="https://www.facebook.com/profile.php?id=61568824269907&sk=about" target="_blank">
            <i class="fab fa-facebook"></i> Facebook
          </a>
        </li>

        <li>
          <a href="https://www.tiktok.com/@conautol_col" target="_blank">
            <i class="fab fa-tiktok"></i> TikTok
          </a>
        </li>

        <li>
          <a href="https://www.instagram.com/conautol_col/" target="_blank">
            <i class="fab fa-instagram"></i> Instagram
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
